@media only screen and (max-width:1200px) {
    .hero-text-box{
        width:100%;
        padding: 0 2%;
}
     .row{ padding : 0 2%; }
}

@media only screen and (max-width:1023px) {
   nav{
       width: 90%;
   }
    body {font-size : 18px;}

  .hero-text-box{
    width:80%;
    padding: 0 2%; }


  section {padding: 60px 0;}
  
  .section-features{
      font-size: 90%;
  }

  .order-step{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .infosample{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  footer{
      font-size : 70%;
  }

}

@media only screen and (max-width:767px) {

 body{ font-size: 14px;}
 section {padding: 30px 0;}
 
 .row,
 .hero-text-box{
     padding : 0 4%;
 }

 .col { width: 100%;}



.main-nav{
    float : left;
   

}





 h1{ font-size : 180%}
 h2{ font-size : 150%}



}


@media only screen and (max-width: 480px) {


    section{ padding : 25px 0;}
    footer { font-size: 70%; }


}